n8n/Receipt PDF Generation.json
{
  "name": "Receipt PDF Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receipt-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "56e69046-5c04-47de-8309-2270ffb7aa9a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données\nconst inputData = $input.item.json;\n// On fusionne avec les données fraîches de Supabase (si disponibles via un Merge précédent)\n// Sinon on prend le payload du webhook\nconst data = inputData.body ? inputData.body : inputData;\n\n// --- RÈGLE MÉTIER : Seul le montant compte ---\nif (parseFloat(data.amount) < 6) {\n  throw new Error('Montant insuffisant (< 6€) pour un reçu fiscal');\n}\n\n// --- Gestion du Numéro de Reçu ---\n// Si on n'en a pas, on en génère un temporaire pour le PDF\n// (Idéalement, il faudrait le sauvegarder en base ensuite)\nlet receiptNum = data.receipt_number;\nif (!receiptNum) {\n    // Génération d'un numéro de secours : REC-{ANNEE}-{FIN_UUID}\n    const year = new Date().getFullYear();\n    const shortId = data.transaction_id ? data.transaction_id.slice(0, 8).toUpperCase() : 'UNKNOWN';\n    receiptNum = `REC-${year}-${shortId}`;\n}\n\n// --- Construction de l'objet final pour le PDF ---\nreturn {\n  transactionId: data.transaction_id || data.id, // Supporte les deux sources\n  receiptNumber: receiptNum,\n  amount: parseFloat(data.amount),\n  paymentMethod: data.payment_method || 'carte', // Valeur par défaut si nulle\n  createdAt: data.created_at || new Date().toISOString(),\n  \n  // Gestion intelligente du donateur\n  // On essaie de prendre les infos les plus complètes disponibles\n  donor: {\n    email: data.supporter_email || data.donor_email,\n    // On prend le nom complet s'il existe, sinon on assemble prénom/nom\n    name: (data.supporter_name || data.donor_name || 'Donateur').trim(),\n    address: data.supporter_address_line1 || data.donor_address || '',\n    zip: data.supporter_postal_code || data.donor_zip || '',\n    city: data.supporter_city || data.donor_city || ''\n  },\n  \n  // Indicateur pour savoir si on doit mettre à jour le numéro en base plus tard\n  isNewReceiptNumber: !data.receipt_number\n};\n"
      },
      "id": "e5d339d6-a9b3-4edc-90ee-17c8686d2803",
      "name": "Extract & Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération des données (Fusion intelligente)\nconst extractedData = $('Extract & Validate Data').item.json;\nconst supabaseData = $input.item.json; // Les données brutes qui viennent d'arriver\n\n// Sécurité\nif (!extractedData || !extractedData.transactionId) {\n  throw new Error('Données transaction manquantes');\n}\n\n// --- 2. Préparation des Variables d'Affichage ---\n\n// NOM : On va chercher la meilleure source possible\n// Supabase \"supporter_name\" est la plus fiable pour les calendriers\n// NOM : On va chercher la meilleure source possible et on met tout EN MAJUSCULES\nlet rawName = supabaseData.supporter_name; \n\nif (!rawName || rawName.trim() === '') {\n    rawName = extractedData.donor.name;\n}\nif (!rawName || rawName.trim() === 'Donateur') {\n     rawName = extractedData.donor.email.split('@')[0];\n}\n\n// Conversion en MAJUSCULES\nconst donorName = (rawName || 'DONATEUR').toUpperCase(); \n\n// Si vide, on tente le \"donor.name\" construit par le nœud précédent\nif (!donorName || donorName.trim() === '') {\n    donorName = extractedData.donor.name;\n}\n// Si toujours vide, fallback (ne devrait pas arriver avec un bon backfill)\nif (!donorName || donorName.trim() === 'Donateur') {\n     // Tentative ultime avec email\n     donorName = extractedData.donor.email.split('@')[0];\n}\n\n// ADRESSE : Idem, on consolide\nconst address = supabaseData.supporter_address_line1 || extractedData.donor.address || '';\nconst zipCity = `${supabaseData.supporter_postal_code || extractedData.donor.zip || ''} ${supabaseData.supporter_city || extractedData.donor.city || ''}`;\n\n\n// CALCULS\nconst amount = parseFloat(extractedData.amount);\nconst taxReduction = (amount * 0.66).toFixed(2);\nconst date = new Date(extractedData.createdAt);\nconst formattedDate = date.toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' });\nconst receiptNum = extractedData.receiptNumber || `REC-TEMP-${extractedData.transactionId.slice(0,8).toUpperCase()}`;\n\n\n// --- 3. Construction du HTML ---\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @page { margin: 0; }\n    \n    body {\n      font-family: 'Helvetica', 'Arial', sans-serif;\n      margin: 0;\n      padding: 30px 40px;\n      color: #1f2937;\n      font-size: 13px;\n      line-height: 1.4;\n      background: white;\n    }\n    \n    .header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      margin-bottom: 30px;\n      border-bottom: 3px solid #b91c1c;\n      padding-bottom: 15px;\n    }\n    .logo-container { display: flex; align-items: center; gap: 15px; }\n    .logo-img { height: 75px; width: auto; }\n    .org-title { font-size: 18px; font-weight: bold; color: #b91c1c; line-height: 1.2; }\n    .receipt-info { text-align: right; }\n    .receipt-info h1 { margin: 0; font-size: 26px; text-transform: uppercase; color: #111; }\n    .receipt-number { font-size: 13px; color: #6b7280; font-weight: bold; margin-top: 5px; }\n\n    .cerfa {\n      background: #f3f4f6;\n      padding: 10px 20px;\n      border-radius: 6px;\n      font-size: 11px;\n      color: #4b5563;\n      margin-bottom: 25px;\n      border-left: 4px solid #b91c1c;\n    }\n\n    .grid { display: flex; gap: 30px; margin-bottom: 25px; }\n    .col { flex: 1; }\n    .box-title {\n      font-size: 11px; text-transform: uppercase; font-weight: bold; color: #9ca3af;\n      margin-bottom: 5px; border-bottom: 1px solid #e5e7eb; padding-bottom: 4px;\n    }\n    .box-content { font-size: 14px; }\n    .box-content strong { display: block; font-size: 15px; margin-bottom: 4px; color: #111; }\n\n    .amount-box {\n      background: linear-gradient(135deg, #b91c1c 0%, #991b1b 100%);\n      color: white;\n      padding: 20px;\n      border-radius: 12px;\n      text-align: center;\n      margin-bottom: 25px;\n      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\n    }\n    .amount-label { font-size: 14px; text-transform: uppercase; opacity: 0.9; letter-spacing: 1px; }\n    .amount-value { font-size: 40px; font-weight: 800; margin: 8px 0; }\n    .amount-details { font-size: 13px; opacity: 0.9; border-top: 1px solid rgba(255,255,255,0.2); display: inline-block; padding-top: 8px; margin-top: 5px; }\n\n    .fiscal-info {\n      border: 1px solid #e5e7eb; padding: 15px; border-radius: 8px; margin-bottom: 20px;\n      font-size: 12px; color: #4b5563;\n    }\n    .fiscal-highlight { color: #b91c1c; font-weight: bold; }\n\n    .footer-row { display: flex; justify-content: flex-end; margin-top: 5px; }\n    .signature-block { text-align: center; width: 230px; }\n    .location { font-size: 12px; margin-bottom: 2px; }\n    .role { font-weight: bold; font-size: 13px; margin-top: 2px; border-top: 1px solid #333; padding-top: 2px; }\n\n    .legal-footer { margin-top: 5px; text-align: center; font-size: 9px; color: #9ca3af; border-top: 1px solid #f3f4f6; padding-top: 2px; }\n  </style>\n</head>\n<body>\n\n  <div class=\"header\">\n    <div class=\"logo-container\">\n      <img src=\"https://npyfregghvnmqxwgkfea.supabase.co/storage/v1/object/public/logo/logo_amicale.png\" class=\"logo-img\" alt=\"Logo Amicale\">\n      <div class=\"org-title\">AMICALE DES<br>SAPEURS-POMPIERS<br>DE CLERMONT</div>\n    </div>\n    <div class=\"receipt-info\">\n      <h1>REÇU FISCAL</h1>\n      <div class=\"receipt-number\">Réf. ${receiptNum}</div>\n    </div>\n  </div>\n\n  <div class=\"cerfa\">\n    <strong>Article 200 du Code Général des Impôts</strong><br>\n    Reçu au titre des dons à certains organismes d'intérêt général habilités à délivrer des reçus fiscaux.\n  </div>\n\n  <div class=\"grid\">\n    <div class=\"col\">\n      <div class=\"box-title\">Organisme Bénéficiaire</div>\n      <div class=\"box-content\">\n        <strong>Amicale SP Clermont</strong>\n        Centre de Secours<br>34800 Clermont-l'Hérault<br>\n        <span style=\"color: #666; font-size: 12px;\">Association Loi 1901 - But non lucratif</span>\n      </div>\n    </div>\n    <div class=\"col\">\n      <div class=\"box-title\">Donateur</div>\n      <div class=\"box-content\">\n        <!-- Utilisation de la variable consolidée donorName -->\n        <strong>${donorName}</strong>\n        ${address}<br>\n        ${zipCity}<br>\n        <span style=\"color: #666;\">${extractedData.donor.email}</span>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"amount-box\">\n    <div class=\"amount-label\">Montant du Don</div>\n    <div class=\"amount-value\">${amount.toFixed(2)} €</div>\n    <div class=\"amount-details\">\n      Reçu le ${formattedDate} &nbsp;•&nbsp; Moyen de paiement : ${\n        ['card', 'carte', 'cb', 'stripe', 'carte_bancaire'].includes((extractedData.paymentMethod || '').toLowerCase()) ? 'Carte Bancaire' : 'Espèces'\n      }\n    </div>\n  </div>\n\n  <div class=\"fiscal-info\">\n    <p style=\"margin: 0 0 8px 0;\">\n      <!-- Phrase ajustée pour la tolérance administrative des calendriers -->\n      L'Amicale certifie que ce don n'a aucune contrepartie directe ou indirecte sous forme de bien ou de prestation de services, conformément à la tolérance fiscale en vigueur pour les calendriers des Sapeurs-Pompiers.\n    </p>\n    <p style=\"margin: 0;\">\n      👉 Ce don ouvre droit à une réduction d'impôt de <strong>66%</strong>, soit une économie fiscale de <span class=\"fiscal-highlight\">${taxReduction} €</span>.\n      Coût réel après réduction : <strong>${(amount - parseFloat(taxReduction)).toFixed(2)} €</strong>.\n    </p>\n  </div>\n\n  <div class=\"footer-row\">\n    <div class=\"signature-block\">\n      <div class=\"location\">Fait à Clermont-l'Hérault, le ${formattedDate}</div>\n      <img src=\"https://npyfregghvnmqxwgkfea.supabase.co/storage/v1/object/public/logo/signature_president.jpg\" \n           style=\"height: 120px; display: block; margin: 2px auto;\" \n           alt=\"Signature Président\">\n      <div class=\"role\">Le Président</div>\n    </div>\n  </div>\n\n  <div class=\"legal-footer\">\n    Document généré automatiquement via n8n - Transaction ID: ${extractedData.transactionId}\n  </div>\n\n</body>\n</html>`;\n\nreturn { html, transaction: extractedData };\n"
      },
      "id": "d93f8e53-e767-4e3b-8faf-2e155e0b467a",
      "name": "Build HTML Receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "receipts",
        "fileName": "={{ $('Extract & Validate Data').item.json.receiptNumber }}.pdf",
        "additionalFields": {}
      },
      "id": "3732dd56-4f83-41be-8884-7ee35ec9f75b",
      "name": "Minio: Upload PDF",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "alwaysOutputData": false,
      "credentials": {
        "s3": {
          "id": "B0YOEDsLn1a35QZV",
          "name": "Minio account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"receipt_number\": \"{{ $('Extract & Validate Data').item.json.receiptNumber }}\",\n  \"transaction_id\": \"{{ $('Extract & Validate Data').item.json.transactionId }}\",\n  \"pdf_url\": \"{{ $('Minio: Upload PDF').item.json.path }}\",\n  \"processed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "628c11bb-e242-4410-ab32-5ec1602f371c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1648,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "84e96162-5967-4bba-a181-9ecc2af72f76",
      "name": "Error Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1408,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || 'Unknown error' }}\",\n  \"transaction_id\": \"{{ $('Extract & Validate Data').item.json.transactionId }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "69ebd2f1-94eb-4836-92db-94a841de0be9",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "support_transactions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Extract & Validate Data').item.json.transactionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "34661c2d-460b-43ec-8e35-e5b66abd2389",
      "name": "Fetch Transaction (Supabase)",
      "credentials": {
        "supabaseApi": {
          "id": "GmIueoSeOR8yfk2b",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données\nconst items = $input.all();\nconst htmlContent = items[0].json.html; // <--- CORRIGÉ ICI (html au lieu de htmlContent)\n\nif (!htmlContent) {\n  throw new Error('HTML manquant dans les données (vérifier la sortie du nœud précédent)');\n}\n\n// Conversion en binaire pour Gotenberg\nconst buffer = Buffer.from(htmlContent, 'utf8');\nconst base64Data = buffer.toString('base64');\n\nreturn [{\n  json: items[0].json, // On garde les métadonnées (transactionId, etc.)\n  binary: {\n    data: {\n      data: base64Data,\n      fileName: \"index.html\", // Gotenberg a besoin de ce nom spécifique\n      mimeType: \"text/html\"\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "3013905c-4e35-4ba8-b053-453baa5f9b82",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gotenberg.dsolution-ia.fr/forms/chromium/convert/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ],
      "id": "214c4a0d-6378-4efa-93f3-efd5d42d4ddf",
      "name": "Gotenberg: HTML to PDF",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ZqqBwZymZkCpaOCs",
          "name": "Gotenberg credential"
        }
      }
    },
    {
      "parameters": {
        "tableId": "receipts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pdf_url",
              "fieldValue": "=https://s3.dsolution-ia.fr/receipts/{{ $('Extract & Validate Data').item.json.receiptNumber }}.pdf"
            },
            {
              "fieldId": "pdf_storage_path",
              "fieldValue": "={{ $('Extract & Validate Data').item.json.receiptNumber }}.pdf"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "pdf_generated",
              "fieldValue": "true"
            },
            {
              "fieldId": "generated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Extract & Validate Data').item.json.transactionId }}"
            },
            {
              "fieldId": "receipt_number",
              "fieldValue": "={{ $('Extract & Validate Data').item.json.receiptNumber }}"
            },
            {
              "fieldId": "fiscal_year",
              "fieldValue": "2025"
            },
            {
              "fieldId": "receipt_type",
              "fieldValue": "fiscal"
            },
            {
              "fieldId": "email_sent",
              "fieldValue": "true"
            },
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "sequence_number",
              "fieldValue": "={{ Math.floor(Math.random() * 1000000) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "id": "d87216bf-fdbd-4915-b9ca-7a4786b25aca",
      "name": "Create a row",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GmIueoSeOR8yfk2b",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.transaction.donor.email }}",
        "subject": "Votre reçu fiscal - Amicale des Sapeurs-Pompiers",
        "message": "=<div style=\"font-family: Helvetica, Arial, sans-serif; color: #333; line-height: 1.6;\">      <p>Bonjour <strong>{{ $('Extract & Validate Data').item.json.donor.firstName || 'Cher donateur' }}</strong>,</p>    <p>Au nom de l'ensemble des Sapeurs-Pompiers de Clermont-l'Hérault, je tiens à vous remercier chaleureusement pour votre don de <strong>{{ $('Extract & Validate Data').item.json.amount }} €</strong>.</p>    <p>Votre soutien est précieux pour le fonctionnement de notre Amicale et nous permet de mener à bien nos actions sociales et de solidarité tout au long de l'année.</p>    <p>📄 <strong>Vous trouverez ci-joint votre reçu fiscal (Cerfa) au format PDF.</strong><br>   <em>Ce document vous permet de bénéficier d'une réduction d'impôt de 66% du montant de votre don. Conservez-le précieusement pour votre prochaine déclaration.</em></p>    <hr style=\"border: 0; border-top: 1px solid #eee; margin: 20px 0;\">    <p style=\"font-size: 12px; color: #666;\">     <strong>Amicale des Sapeurs-Pompiers de Clermont</strong><br>     Centre de Secours<br>     34800 Clermont-l'Hérault<br>     <a href=\"mailto:contact@pompiers34800.com\" style=\"color: #b91c1c; text-decoration: none;\">contact@sapeurs-pompiers-clermont.fr</a>   </p>      <p style=\"font-size: 11px; color: #999; font-style: italic;\">     Ceci est un message automatique, merci de ne pas y répondre directement sauf si vous souhaitez contacter l'Amicale.   </p> </div>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "bccList": "contact@pompiers34800.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        -224
      ],
      "id": "ae5b6bc4-d80e-4986-afb7-0ebbfc45b0dc",
      "name": "Send a message",
      "webhookId": "6da00b36-5165-4f8b-af83-1159fd2d9e56",
      "credentials": {
        "gmailOAuth2": {
          "id": "6NgvyrhAFKLsZ7O5",
          "name": "Pompiers"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract & Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Data": {
      "main": [
        [
          {
            "node": "Fetch Transaction (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Receipt": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minio: Upload PDF": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transaction (Supabase)": {
      "main": [
        [
          {
            "node": "Build HTML Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Gotenberg: HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg: HTML to PDF": {
      "main": [
        [
          {
            "node": "Minio: Upload PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1ac87949-ecff-48ff-8e51-50e0d212f316",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ab184e9b85db7486a006de55f7b127638b3f5b96c6cde5edbc7605d54db0ecd"
  },
  "id": "D0Ck0NQn8gTwX3wM",
  "tags": []
}